name: ci

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
      - run: npm i
      - run: npm run gen
      - run: |
          npm run lint -- \
            --suppress-rule css-modules-kit/no-unused-class-names \
            --suppress-rule css-modules-kit/no-missing-component-file
